*{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    overflow-x: hidden;
}

body{
    background: #ffffff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 9%;
    z-index: 1000;
    background: #a2476a;
    display: flex;
    align-items: center;
  }

  .header.active {
    background: #101522;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  .header .logo {
    margin-right: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bolder;
  }

  .header .welcome-user {
    margin-right: 1rem;
    font-size: 20px;
    color: #fff;
  }

  .header .navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .header .navbar a {
    margin-left: 1rem;
    font-size: 15px;
    color: #fff;
  }

  .header .navbar a:hover {
    color: #803753;
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .welcome-user {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .header-right .icons a,
  .header-right .icons div {
    font-size: 15px;
    margin-left: 1rem;
    margin-top: 6px;
    cursor: pointer;
    color: #fff;
  }

  .header-right .icons a:hover,
  .header-right .icons div:hover {
    color: #803753;
  }

  .navbar-item {
    display: inline-block;
    margin-left: 1rem;
  }

  .navbar-item .logout {
    background: none;
    border: none;
    padding: 0;
    margin-top: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .navbar-item .logout a {
    color: #fff;
  }

  .navbar-item .logout:hover {
    color: #803753;
  }

.container{
    margin-top: 220px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.back-button {
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 20px;
    background: #a2476a;
    color: #ffffff;
    border: 2px solid #a2476a;
    padding: 10px 25px;
    text-decoration: none;
}

.back-button i {
    color: #ffffff;
    margin-left: 1px;
    margin-right: 5px;
    font-size: 15px;
}

.back-button:hover {
    background: white;
    border: 2px solid #a2476a;
    transition: .4s;
}

.back-button:hover i,
.back-button:hover {
    color: #a2476a;
}

.container .hero-text{
    margin-bottom: 40px;
    margin-left: 0;
    padding-top: 10px;
    max-width: calc(100% - 400px);
}

.container .hero-text h3{
    max-width: 50%;
    color: #a2476a;
    font-weight: 200;
    font-size: 60px;
}


.container .hero-text h4{
    color: #595959;
    font-size: 18px;
    margin-bottom: 25px;
}

.container .hero-text #stock{
    color: green;
    margin-top: -10px;
    margin-bottom: 0;
    font-size: 16px;
}

#tag {
    margin-top: -10px;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    border-radius: 45px;
    cursor: pointer;
    outline: none;
    background-color: #a2476a;
    color: #fff;
  }


.container .hero-text p {
    width: 600px;
    max-width: 100%;
    color: #A2A2A2;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 15px;
}

.container .hero-text p.tag-title {
    margin-top: 40px;
    font-size: 14px;
}



.container .hero-text button{
    background: #a2476a;
    border: 2px solid #a2476a;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 20px ;
    cursor: pointer ;
    color: #ffffff;
}

.container .hero-text button i{
    font-size: 17px;
    color: #ffffff;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.container .hero-text button:hover{
    background: transparent;
    border: 2px solid #a2476a;
    color: #a2476a;
    transition: .4s;
}

.container .hero-text button:hover i{
    color: #a2476a;
    transition: .4s;
}

#product-photo{
    position: absolute;
    left: 850px;
    top: 240px;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}


