*{
    text-transform: capitalize;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #77344e;
}

body{
    background: #ffffff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 9%;
    z-index: 9999;
    background: #fff; /* initial background color */
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease; /* add transition effect */
}

.header .logo {
    margin-right: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #a2476a;
    font-weight: normal;
}

.logo img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.header .welcome-user {
    margin-right: 1rem;
    font-size: 16px;
    color: #a2476a;
}

.header .navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header .navbar a {
    margin-left: 1rem;
    font-size: 15px;
    color: #a2476a;
}

.header .navbar a:hover {
    color: #803753;
}

.header-left {
    display: flex;
    align-items: center;
}

.welcome-user {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-right .icons {
    display: flex;
    align-items: center;
    margin-left: auto; /* updated margin */
}

.header-right .icons a,
.header-right .icons div {
    font-size: 15px;
    margin-left: 1rem; /* updated margin */
    margin-top: 0; /* updated margin */
    cursor: pointer;
    color: #a2476a;
}

.header-right .icons a:hover,
.header-right .icons div:hover {
    color: #803753;
}


.header-right .icons a:hover,
.header-right .icons div:hover {
    color: #803753;
}

.navbar-item {
    display: inline-block;
    margin-left: 1rem;
}

.navbar-item .logout {
    background: none;
    border: none;
    padding: 0;
    margin-top: 6px;
    margin-left: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #a2476a;
}

.navbar-item .logout a {
    color: #a2476a;
}

.navbar-item .logout:hover {
    color: #803753;
}

.header.scrolled {
    background-color: #a2476a;
}

.header.scrolled .logo,
.header.scrolled .navbar a,
.header.scrolled .welcome-user,
.header.scrolled .icons a,
.header.scrolled .icons div,
.header.scrolled .navbar-item a,
.header.scrolled .navbar-item .logout {
    color: #ffffff;
}

.header.scrolled .navbar a:hover,
.header.scrolled .icons a:hover,
.header.scrolled .icons div:hover,
.header.scrolled .navbar-item a:hover,
.header.scrolled .navbar-item .logout:hover {
    color: #803753;
}


.container{
    margin: 210px auto;
    max-width: 800px;
    width: 100%;
    overflow: hidden; /* add this line */
}

.back-button {
    display: inline-block;
    position: absolute;
    top: 120px;
    left: 20px;
    background: #a2476a;
    color: #ffffff;
    border: 2px solid #a2476a;
    padding: 10px 25px;
    text-decoration: none;
}

.back-button i {
    color: #ffffff;
    margin-left: 1px;
    margin-right: 5px;
    font-size: 15px;
}

.back-button:hover {
    background: white;
    border: 2px solid #a2476a;
    transition: .4s;
}

.back-button:hover i,
.back-button:hover {
    color: #a2476a;
}

.container .hero-text{
    margin-bottom: 40px;
    margin-left: 0;
    padding-top: 10px;
    max-width: calc(100% - 400px);
}

.container .hero-text h3{
    max-width: 50%;
    color: #a2476a;
    font-weight: 200;
    font-size: 60px;
}

#label, #seller {
    display: inline-block;
    margin-right: 10px;
}

h3#label{
    font-size: 20px;
    color: black;
}

h3#seller{
    font-size: 20px;
    color: #a2476a;
}


.container .hero-text h4{
    color: #595959;
    font-size: 18px;
    margin-bottom: 25px;
    color: #a2476a;
}

.container .hero-text #stock{
    color: green;
    margin-top: -10px;
    margin-bottom: 0;
    font-size: 16px;
}

#tag {
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    border-radius: 45px;
    cursor: pointer;
    outline: none;
    background-color: #a2476a;
    color: #fff;
  }


.container .hero-text p {
    width: 600px;
    max-width: 100%;
    color: #A2A2A2;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 15px;
}

.container .hero-text p.tag-title {
    margin-top: 40px;
    font-size: 14px;
}



.container .hero-text button{
    background: #a2476a;
    border: 2px solid #a2476a;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 20px ;
    cursor: pointer ;
    color: #ffffff;
}

.container .hero-text button i{
    font-size: 17px;
    color: #ffffff;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.container .hero-text button:hover{
    background: transparent;
    border: 2px solid #a2476a;
    color: #a2476a;
    transition: .4s;
}

.container .hero-text button:hover i{
    color: #a2476a;
    transition: .4s;
}

#product-photo{
    position: absolute;
    left: 850px;
    top: 240px;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

form#review {
    padding: 20px; /* Optional: add some padding to the form */
    margin-left: 2px;
    width: 53%;
  }

  form#review h1{
    color: #A2A2A2;
    margin-top: 40px;
    margin-left: 10px;
  }

  form#review h1 i{
    margin-right: 3px;
    font-size: 10px;
  }

  textarea {
    background: #ffffff;
    border: 1px solid #a2476a;
    border-radius: 20px;
    width: 100%;
    height: 100px;
    resize: vertical;
    margin-bottom: 10px;
    text-align: center;
  }

  button[type="submit"] {
    display: block;
    margin: 10px auto;
    background: #a2476a;
    color: #ffffff;
    width: 100%;
    padding: 5px 15px;
    border-radius: 20px;
  }

  button[type="submit"]:hover {
    background: #77344e;
  }

.reviews{
    color: #a2476a;
    margin-top: 70px;
    margin-bottom: 25px;
}

.comment {
    background:#a2476a;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 50%;
  }

.comment .user, .com{
    margin-left: 15px;
}

.comment i{
    font-size: 10px;
    margin-right: 5px;
}

.comment .user{
    font-weight: bolder;
}



