* {
    text-transform: capitalize;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #77344e;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 9%;
    z-index: 9999;
    background: #fff; /* initial background color */
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease; /* add transition effect */
}

.header .logo {
    margin-right: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #a2476a;
    font-weight: normal;
}

.logo img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.header .welcome-user {
    margin-right: 1rem;
    font-size: 16px;
    color: #a2476a;
}

.header .navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header .navbar a {
    margin-left: 1rem;
    font-size: 15px;
    color: #a2476a;
}

.header .navbar a:hover {
    color: #803753;
}

.header-left {
    display: flex;
    align-items: center;
}

.welcome-user {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.header-right .icons a,
.header-right .icons div {
    font-size: 15px;
    margin-left: 1rem;
    margin-top: 6px;
    cursor: pointer;
    color: #a2476a;
}

.header-right .icons a:hover,
.header-right .icons div:hover {
    color: #803753;
}

.navbar-item {
    display: inline-block;
    margin-left: 1rem;
}

.navbar-item .logout {
    background: none;
    border: none;
    padding: 0;
    margin-top: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #a2476a;
}

.navbar-item .logout a {
    color: #a2476a;
}

.navbar-item .logout:hover {
    color: #803753;
}

.header.scrolled {
    background-color: #a2476a;
}

.header.scrolled .logo,
.header.scrolled .navbar a,
.header.scrolled .welcome-user,
.header.scrolled .icons a,
.header.scrolled .icons div,
.header.scrolled .navbar-item a,
.header.scrolled .navbar-item .logout {
    color: #ffffff;
}

.header.scrolled .navbar a:hover,
.header.scrolled .icons a:hover,
.header.scrolled .icons div:hover,
.header.scrolled .navbar-item a:hover,
.header.scrolled .navbar-item .logout:hover {
    color: #803753;
}

.container {
    margin-top: 220px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.tag{
    color: #a2476a;
    margin-bottom: -15px;
}

.container .hero-text {
    margin-bottom: 40px;
}

.container .hero-text h3 {
    color: #A2A2A2;
    font-weight: 200;
    font-size: 60px;
}

.container .hero-text h4 {
    color: #595959;
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 25px;
}

.container .hero-text p {
    width: 600px;
    max-width: 100%;
    color: #A2A2A2;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 15px;
}

.container .hero-text button {

    background: #a2476a;
    border: 2px solid #a2476a;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 20px;
    cursor: pointer;
}

.container .hero-text button a {
    color: #eee;
}

.container .hero-text button i {
    font-size: 17px;
    color: #eee;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.container .hero-text button:hover {
    background: transparent;
    border: 2px solid #a2476a;
    transition: .4s;
}

.container .hero-text button:hover a {
    color: #a2476a;
}

.container .hero-text button:hover i {
    color: #a2476a;
}

#bp_album {
    position: absolute;
    left: 800px;
    top: 100px;
    width: 500px;
    height: 500px;
}

.main-body {
    margin-top: 140px;
    background: #EDEDED;
}

.main-body-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: #ffffff;
}


.products-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 40px;
    margin-left: 70px;
}

.product-container {
    display: inline-block;
    box-sizing: border-box;
    width: 280px;
    height: 410px;
    border-radius: none;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.product-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.product-container::-webkit-scrollbar-thumb {
    background: #77344e;
}

.product-container::-webkit-scrollbar-track {
    background: #e0e0e0;
}

.product-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 190px;
    width: 195px;
}

#tag {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 5px 10px;
    font-size: 10px;
    letter-spacing: 2.5px;
    font-weight: 500;
    border-radius: 45px;
    cursor: pointer;
    outline: none;
    background-color: #a2476a;
    color: #fff;
}

#tag2 {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 2px;
    padding: 5px 10px;
    font-size: 10px;
    letter-spacing: 2.5px;
    font-weight: 500;
    border-radius: 45px;
    cursor: pointer;
    outline: none;
    background-color: #a2476a;
    color: #fff;
}
